<table class="table table-stripped">
  <thead>
    <tr class="text-center">
      <th>Aplicación</th>
      <th>Puerto</th>
      <th>Rama actual</th>
      <th>Estado</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let app of aplicaciones">
      <td>
        <div class="d-flex justify-content-center align-items-center">
          <img class="me-2" src="{{app.getUrlLogo()}}" alt="logo-app" style="width: 20px; height: 20px;">
          <span>{{app.getNombre()}}</span>
        </div>
      </td>
      <td>{{app.getPuerto()}}</td>
      <td>
        <i class="fa-solid fa-code-branch me-2"></i>
        {{app.getRamaGit()}}
      </td>
      <td>{{app.estaEnEjecucion() ? "🟢" : "🔴"}}</td>    
      <td>
        <button
          *ngIf="app.estaEnEjecucion()"
          class="btn btn-danger"
          (click)="app.setEnEjecucion(false)">
          <i class="fa-solid fa-stop me-2"></i>
          Detener
        </button>
        <button
          *ngIf="!app.estaEnEjecucion()"
          class="btn btn-primary"
          (click)="iniciarApp(app)">
          <i class="fa-solid fa-play me-2"></i>
          Iniciar
        </button>
      </td>
      <td>
        <button *ngIf="!app.estaEnEjecucion()" class="btn btn-primary" (click)="app.setEnEjecucion(true)">
          <i class="fa-solid fa-play me-2"></i>
          Iniciar y abrir
        </button>
      </td>      
    </tr>
  </tbody>
</table>