th, td {
  text-align: center;
  padding: 10px;
  margin: auto 0;
}

.git-pull-link {
  display: inline-block;
  font-weight: bold;
  color: var(--bs-primary);
  cursor: pointer;
  margin-left: 20px;
}

.git-pull-link:hover {
  text-decoration: underline;
}

.tabla-custom td {
  color: white;
  background-color: rgba(0,0,0,0.4);
  border: none;
  vertical-align: middle;
}

.td-rama {
  width: fit-content;
  margin: 0 auto;
  color: rgb(225,225,255);
  cursor: pointer;
  transition: 0.2s;
}

.td-rama:hover {
  color: white;
}