<table *ngIf="aplicaciones.length > 0" class="table table-stripped tabla-custom">
  <thead class="table-dark" style="border-color: var(--bs-dark);">
    <tr class="text-center">
      <th style="border-radius: 10px 0 0 0;">Aplicación</th>
      <th>Puerto</th>
      <th>Rama actual</th>
      <th></th>
      <th>Estado</th>
      <th></th>    
      <th style="border-radius: 0 10px 0 0;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let app of aplicaciones; let i = index">
      <!-- Uso el index solo con fines decorativos -->
      <td [ngStyle]="{'border-radius': aplicaciones.length-1 == i?'0 0 0 10px':''}">
        <div class="d-flex justify-content-center align-items-center">
          <img class="me-2" src="{{app.getLogoUrl()}}" alt="logo-app" style="width: 20px; height: 20px;">
          <span>{{app.getNombre()}}</span>
        </div>
      </td>
      <td>{{app.getPuerto()}}</td>
      <td>
        <button *ngIf="!hayMuchasRamas(app)" class="btn btn-light">
          <i class="fa-solid fa-code-branch me-2"></i>
          {{app.getGit().getRamaActual()}}
        </button>
        <div *ngIf="hayMuchasRamas(app)" class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-code-branch me-2"></i>
            {{app.getGit().getRamaActual()}}
          </button>
          <ul class="dropdown-menu dropdown-menu">
            <ng-container *ngFor="let rama of app.getGit().getRamasDisponibles(); let i = index">
              <li (click)="app.getGit().gitCheckout(rama)">
                <a class="dropdown-item" href="#">
                  <i class="fa-solid fa-code-branch me-2"></i>
                  {{rama}}
                </a>
              </li>
            </ng-container>
          </ul>
        </div>
      </td>
      <td>
        <div *ngIf="app.getGit().getRamaDesactualizada()" class="alert alert-warning p-2" role="alert" style="width: fit-content; margin: 0 auto">
          <i class="fa-solid fa-triangle-exclamation"></i>
          Tu rama local está desactualizada.
          <div (click)="app.getGit().gitPull()" class="git-pull-link">
            Git pull
          </div>
        </div>
      </td>
      <td>{{app.getEstado().estaEnEjecucion() ? "🟢" : "🔴"}}</td>    
      <td>
        <button
          *ngIf="app.getEstado().estaEnEjecucion()"
          (click)="app.detener()"
          class="btn btn-danger">
          <i class="fa-solid fa-stop me-2"></i>
          Detener
        </button>
        <button
          *ngIf="!app.getEstado().estaEnEjecucion()"
          class="btn btn-primary me-1"
          (click)="app.iniciar()">
          <i class="fa-solid fa-play me-2"></i>
          Iniciar
        </button>
      </td>
      <td [ngStyle]="{'border-radius': aplicaciones.length-1 == i?'0 0 10px 0':''}">
        <button class="btn btn-danger" (click)="app.eliminar()">
          <i class="fa-solid fa-trash me-2"></i>
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>