<!-- <router-outlet></router-outlet> -->
<!-- 
<button class="btn btn-primary" (click)="ping()">Ping</button>
<h1 *ngIf="mensaje">{{mensaje}}</h1>
 -->


<button class="btn btn-primary d-block mx-auto my-5" data-bs-toggle="modal" data-bs-target="#modalAgregarApp">
  Agregar aplicacion
</button>

<table class="table table-stripped">
  <thead>
    <tr class="text-center">
      <th>Aplicación</th>
      <th>Puerto</th>
      <th>Estado</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let app of aplicaciones">
      <td>
        <div class="d-flex justify-content-center align-items-center">
          <img class="me-2" src="{{app.getUrlLogo()}}" alt="logo-app" style="width: 20px; height: 20px;">
          <span>{{app.getNombre()}}</span>
        </div>
      </td>
      <td>{{app.getPuerto()}}</td>
      <td [ngClass]="app.estaEnEjecucion() ? 'text-success' : 'text-danger'">
        {{app.estaEnEjecucion() ? "🟢" : "🔴"}}
      </td>    
      <td>
        <button
          *ngIf="app.estaEnEjecucion()"
          class="btn btn-danger"
          (click)="app.setEnEjecucion(false)">
          <i class="fa-solid fa-stop me-2"></i>
          Detener
        </button>
        <button
          *ngIf="!app.estaEnEjecucion()"
          class="btn btn-primary"
          (click)="app.setEnEjecucion(true)">
          <i class="fa-solid fa-play me-2"></i>
          Iniciar
        </button>
      </td>
      <td>
        <button *ngIf="!app.estaEnEjecucion()" class="btn btn-primary" (click)="app.setEnEjecucion(true)">
          <i class="fa-solid fa-play me-2"></i>
          Iniciar y abrir
        </button>
      </td>      
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="modalAgregarApp" tabindex="-1" aria-labelledby="modalAgregarAppLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAgregarAppLabel">Agregar aplicación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <label for="tipoApp" class="form-label mt-2">Tipo de aplicación</label>
        <select id="tipoApp" class="form-select mt-1" #inputTipo>
          <option value="angular" selected>
            Angular
          </option>
          <option value="springboot">Spring-Boot</option>
        </select>

        <label for="nombreApp" class="form-label mt-3">Nombre</label>
        <input id="nombreApp" class="form-control" type="text" placeholder="Nombre..." #inputNombre>

        <label for="puertoApp" class="form-label mt-3">Puerto</label>
        <input id="puertoApp" class="form-control" type="text" placeholder="Número de puerto..." #inputPuerto>

        <div class="d-flex align-items-center">
          <button class="btn btn-primary mt-3 me-2" (click)="abrirDialogRuta()">
            <i class="fa-solid fa-folder-open"></i>
            Seleccionar carpeta raíz
          </button>        
          {{rutaArchivoElegida}}
        </div>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="agregarAplicacion()">Agregar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
