<!-- <router-outlet></router-outlet> -->

<div class="container">
  <div class="d-flex justify-content-center align-items-center my-5">

    <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalAgregarApp">
      <i class="fa-solid fa-plus me-2"></i>
      Agregar aplicación
    </button>

    <ng-container *ngIf="aplicaciones.length > 0">
      <button *ngIf="!estanTodasLasAplicacionesCorriendo()" (click)="iniciarTodasLasAplicaciones()" class="btn btn-primary ms-2">
        <i class="fa-solid fa-play me-2"></i>
        Iniciar todas
      </button>
      <button *ngIf="estanTodasLasAplicacionesCorriendo()" (click)="detenerTodasLasAplicaciones()" class="btn btn-danger ms-2">
        <i class="fa-solid fa-stop me-2"></i>
        Detener todas
      </button>
    </ng-container>
    
  </div>
  
  <app-tabla-aplicaciones
    (seInteractuoConUnaApp)="mostrarTerminalDeApp($event)"
  ></app-tabla-aplicaciones>
  
  <app-terminales-apps [appElegida]="appElegidaParaVerTerminal"></app-terminales-apps>
</div>

<!-- Modals -->
<app-modal-agregar-app></app-modal-agregar-app>