.btn-terminal {
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  background-color: var(--bs-dark);
  margin: 5px;
  border-radius: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn-terminal:hover {
  background-color: var(--bs-primary);
}

.btn-terminal-elegida {
  background-color: var(--bs-primary);
}

.btn-limpiar-terminal {
  width: fit-content;
  cursor: pointer;
  color: rgb(220,220,220) !important;
}

.btn-limpiar-terminal:hover {
  color: rgb(255,255,255) !important;
}

.terminal {
  margin-top: 0px;
  min-height: 200px;
  color: white;
  background-color: rgba(0,0,0,0.4);
  max-height: 400px;
  overflow-y: auto;
}